body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-img-top{
  max-height: 210px;
  max-width: 240px;
}
.row{
  margin-top: 30px;
}
.col-md-3{
  margin-bottom: 12px;
}
audio { width: 250px;height:70px }

img{
  padding-left: 20px;
  padding-top: 10px;
}
.spinner-border{
  margin-top: 10%;
  width: 100px;
  height:100px;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
}